body
{
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  background-color: #F9F9F9;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(151, 210, 236));
  margin-bottom: 0;
}
div {
  margin: auto;
  width: 40%;
  padding: 10px;
  text-align: center;
}
.login{
  margin: auto;
  width: 40%;
  padding: 10px;
  text-align: center;
}
.btn {
  background: #6834d9;
  background-image: -webkit-linear-gradient(top, #6834d9, #2b97b8);
  background-image: -moz-linear-gradient(top, #6834d9, #2b97b8);
  background-image: -ms-linear-gradient(top, #6834d9, #2b97b8);
  background-image: -o-linear-gradient(top, #6834d9, #2b97b8);
  background-image: linear-gradient(to bottom, #6834d9, #2b97b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cdffc;
  background-image: -webkit-linear-gradient(top, #3cdffc, #3cdffc);
  background-image: -moz-linear-gradient(top, #3cdffc, #3cdffc);
  background-image: -ms-linear-gradient(top, #3cdffc, #3cdffc);
  background-image: -o-linear-gradient(top, #3cdffc, #3cdffc);
  background-image: linear-gradient(to bottom, #3cdffc, #3cdffc);
  text-decoration: none;
}
a{
  color: #5F6F94;
  text-decoration: none;
}
a:hover{
  color: black;
}
